@import "tailwindcss";

/* home page design */
.home-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid red; */
  height: 100vh;
  width: 100vw;
  /* gap: 0.1rem; */
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15vw;
  background-color: #262c40;
}

.dashboard-icon-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #262c40;
  border-radius: 0.5rem;
  gap: 20px;
  padding: 0.7rem;
  margin-bottom: 2rem;
  background-color: #1864774d;
  width: 10rem;
  color: whitesmoke;
  cursor: pointer;
}
.dashboard-icons{
  height: 25px;
  width: 25px;
}

.home-section-container {
  /* border: 1px solid yellow; */
  height: 100%;
  width: 88vw;
  background-color: #0f1016;
}

.navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262c40;
  color: whitesmoke;
  padding: 1rem;
  box-shadow: 1px 2px 8px 0px rgba(194, 194, 194, 0.384);

  .navbar-sub-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
}